.r4{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

.borders{
	  text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border: 3px solid;
    border-color: gray;
    background: linear-gradient(180deg, #D5D6EA 18.87%, #F6ECF5 39.45%);
}

.backgrounds{
    background: linear-gradient(180deg, #D5D6EA 18.87%, #F6ECF5 39.45%);
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
}