@use '../../constants/theme';
.nav-bar {
  display: flex;
  width: 100%;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  background-color: theme.$default-bg;

  &.active {
    background-color: theme.$test-color;
  }
}

.nav-bar.padding {
  position: relative;
}

.nav-bar.active {

}

