@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');
/**************************************/
/* column text for dnd and cus */
/**************************************/
/*change the header name to class names*/
h1,h2 { 
    font-family: 'Lato', sans-serif;
    margin: 30px auto;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}
h1:before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #A4938F;
    left: 0;
    top: 50%;
    position: absolute;
}
h1:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #A4938F;
    right: 0;
    top: 50%;
    position: absolute;
}
h2:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #A4938F;
    left: 0;
    top: 50%;
    position: absolute;
}
h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #A4938F;
    right: 0;
    top: 50%;
    position: absolute;
}
/**************************************/
/*box for yourname*/
/**************************************/
.yourname {
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************************************/
/*box for education*/
/**************************************/
.education {
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************************************/
/*box for experience*/
/**************************************/
.experience {
    display: flex;
    justify-content: center;
    align-items: center;
}
/**************************************/
/*box for textedit*/
/**************************************/
.textEdit {
    display: flex;
    justify-content: center;
    align-items: center;
    height:812;
}
/**************************************/
/*column positions*/
/**************************************/
.dnd {
    background: linear-gradient(180deg, #D5D6EA 18.87%, #F6ECF5 39.45%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
}
.cus {
    background: linear-gradient(180deg, #D5D6EA 18.87%, #F6ECF5 39.45%);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 320px;
}

/**************************************/
/*buttons for fontsize*/
/**************************************/
.increase {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.increase:hover {
  background-color: #d0d0d0;
  color: black;
}

.decrease {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.decrease:hover {
  background-color: #d0d0d0;
  color: black;
}

.bold {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.bold:hover {
  background-color: #d0d0d0;
  color: black;
}