@use '../../constants/theme';

// Builder
.page-root {
    @include theme.app-body;
    padding-top: 0;
}

/**************************************/
/* column text for dnd and cus */
/**************************************/
/*change the header name to class names*/
.dnd_h1,
.cus_h2 {
    font-family: 'Lato', sans-serif;
    // margin: 30px auto;
    width: 100%;
    margin: 0;
    padding: 30px 0;
    text-align: center;
    font-size: 30px;
    max-width: 600px;
    position: relative;
}

// .cus_h2 {
//     font-family: 'Lato', sans-serif;
//     margin: 30px auto;
//     text-align: center;
//     font-size: 30px;
//     max-width: 600px;
//     position: relative;
// }

.dnd_h1:before {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #A4938F;
    left: 0;
    top: 50%;
    position: absolute;
}

.dnd_h1:after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: #A4938F;
    right: 0;
    top: 50%;
    position: absolute;
}

.cus_h2:before {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #A4938F;
    left: 0;
    top: 50%;
    position: absolute;
}

.cus_h2:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #A4938F;
    right: 0;
    top: 50%;
    position: absolute;
}

/**************************************/
/*column positions*/
/**************************************/
.dnd {
    background: linear-gradient(180deg, #D5D6EA 18.87%, #F6ECF5 39.45%);
    // position: fixed;
    top: 0;
    left: 0;
    // height: 100vh;
    height: 100%;
    width: 320px;
}

.cus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    background: linear-gradient(180deg, #D5D6EA 18.87%, #F6ECF5 39.45%);
    // position: fixed;
    top: 0;
    right: 0;
    // height: 100vh;
    height: 100%;
    width: 320px;

}

/**************************************/
/*buttons for fontsize*/
/**************************************/
.increase {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.increase:hover {
    background-color: #d0d0d0;
    color: black;
}

.decrease {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.decrease:hover {
    background-color: #d0d0d0;
    color: black;
}

.bold {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.bold:hover {
    background-color: #d0d0d0;
    color: black;
}

.italicized {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.italicized:hover {
    background-color: #d0d0d0;
    color: black;
}

.underline {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.underline:hover {
    background-color: #d0d0d0;
    color: black;
}

/**************************************/
/*right buttons area*/
/**************************************/

.right_buttons_area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 35vh;
}

/**************************************/
/*button for close*/
/**************************************/
.close_button {
    background: #ea1537;
    border: none;
    color: white;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.close_button:hover {
    filter: drop-shadow(16px 16px 20px red) invert(75%);
    cursor: pointer;
}

/**************************************/
/*button for save*/
/**************************************/
.save_button {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.save_button:hover {
    background-color: #d0d0d0;
    color: black;
    cursor: pointer;
}

/**************************************/
/*button for download*/
/**************************************/
.download_button {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.download_button:hover {
    background-color: #d0d0d0;
    color: black;
    cursor: pointer;
}

/**************************************/
/*left buttons area*/
/**************************************/

.left_buttons_area {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 55vh;
    position: absolute;
    bottom: 0px;
}

.add_text_button {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.add_text_button:hover {
    background-color: #d0d0d0;
    color: black;
    cursor: pointer;
}


.delete_element_button {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.add_image_button {
    background: #d9ceeb;
    border: none;
    color: black;
    padding: 6px 6.5px;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 4px;
    box-shadow: 1px 2px #A4938F;
}

.add_image_button:hover {
    background-color: #d0d0d0;
    color: black;
    cursor: pointer
}