$default-bg: #fff;
$test-color: pink;

$desktop_max: 1600px;
$desktop_min: 1200px;

@mixin app-header {
  position: fixed;
  width: 100%;
  height: 3rem;
  z-index: 10;

  min-width: $desktop_min;
}

@mixin app-body {
  position: relative;
  padding-top: 3rem;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  min-width: $desktop_min;
  max-width: $desktop_max;
}

@mixin app-footer {
  position: relative;
  width: 100%;

  z-index: 10;

  min-width: $desktop_min;
}

@mixin background{
  background: linear-gradient(180deg, #D5D6EA 47%, #F6ECF5 100%);
}
