@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html {
  font-size: 16px;
}

body, #root-hire-mi {
  position: relative;
  height: 100vh;
}

#root-hire-mi {
  /* min-width: 1080px; */
}
